/**
 * CMB Styling
 */
table.cmb_metabox {
	clear: both;
}

table.cmb_metabox tr:first-of-type td, table.cmb_metabox tr:first-of-type th {
	border:0;
}

.post-php table.cmb_metabox td, .post-new-php table.cmb_metabox td, .post-php table.cmb_metabox th, .post-new-php table.cmb_metabox th {
	border-top: 1px solid #E9E9E9;
}

.post-php table.cmb_metabox th, .post-new-php table.cmb_metabox th {
	text-align: right;
	font-weight:bold
}

table.cmb_metabox th label {
	margin-top:5px;
	display:block
}

p.cmb_metabox_description {
	color: #AAA;
	font-style: italic;
	margin: 2px 0 !important
}

span.cmb_metabox_description {
	color: #AAA;
	font-style: italic
}

table.cmb_metabox input, table.cmb_metabox textarea {
	font-size:14px;
	padding: 5px;
}

table.cmb_metabox input[type=text], table.cmb_metabox textarea {
	width: 97%;
}

table.cmb_metabox textarea.cmb_textarea_code {
	font-family: Consolas,Monaco,monospace;
	line-height: 16px;
}

table.cmb_metabox input.cmb_text_small {
	width: 100px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_timepicker {
	width: 100px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_text_money {
	width: 90px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_text_medium {
	width: 230px;
	margin-right: 15px
}

table.cmb_metabox input.cmb_upload_file {
	width: 65%;
}

table.cmb_metabox input.ed_button{
	padding:2px 4px
}

table.cmb_metabox li {
	font-size:14px;
	margin: 1px 0 5px 0;
	line-height: 16px;
}

table.cmb_metabox ul {
	padding-top:5px;
	margin: 0;
}

table.cmb_metabox select {
	font-size:14px;
	margin-top: 3px
}

table.cmb_metabox input:focus, table.cmb_metabox textarea:focus {
	background: #fffff8
}

.cmb_metabox_title {
	margin: 0 0 5px 0;
	padding: 5px 0 0 0;
}

.edit-tags-php .cmb_metabox_title, .profile-php .cmb_metabox_title, .user-edit-php .cmb_metabox_title {
	margin-left: -10px;
}

.cmb-inline ul {
	padding: 4px 0 0 0
}

.cmb-inline li {display: inline-block;
	padding-right: 18px
}

table.cmb_metabox input[type="radio"] {
	margin: 0 5px 0 0;
	padding: 0
}

table.cmb_metabox input[type="checkbox"] {
	margin: 0 5px 0 0;
	padding: 0
}

table.cmb_metabox .mceLayout {
	border:1px solid #DFDFDF !important
}

table.cmb_metabox .mceIframeContainer {
	background:#FFF
}

table.cmb_metabox .meta_mce {
	width:97%
}

table.cmb_metabox .meta_mce textarea {
	width:100%
}

table.cmb_metabox .cmb_media_status {
 margin: 10px 0 0 0
}

table.cmb_metabox .cmb_media_status .img_status {
	clear: none;
	float: left;
	display: inline-block;
	margin-right: 10px;
	width: auto;
}

table.cmb_metabox .cmb-type-file_list .cmb_media_status .img_status {
	clear: none;
	float: left;
	margin-right: 10px;
	width: auto;
}

table.cmb_metabox .cmb_media_status .img_status, table.cmb_metabox .cmb_media_status .embed_status {
	position: relative;
}

table.cmb_metabox .cmb_media_status .img_status img, table.cmb_metabox .cmb_media_status .embed_status {
	border:1px solid #DFDFDF;
	background: #FAFAFA;
	max-width:350px;
	padding: 5px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

table.cmb_metabox .cmb_media_status .embed_status {
	float: left;
	max-width:800px
}

table.cmb_metabox .cmb_media_status .img_status .cmb_remove_file_button, table.cmb_metabox .cmb_media_status .embed_status .cmb_remove_file_button {
	text-indent: -9999px;
	background: url(images/ico-delete.png);
	width: 16px;
	height: 16px;
	position: absolute;
	top: -5px;
	left: -5px
}

table.cmb_metabox .attach_list li {
	clear: both;
	display: inline-block;
	margin-bottom: 25px;
	width: 100%;
}

table.cmb_metabox .attach_list li img {
	float: left;
	margin-right: 10px;
}

/**
 * Sidebar placement adjustments
 */
.inner-sidebar table.cmb_metabox input[type=text], #side-sortables table.cmb_metabox input[type=text], table.cmb_metabox textarea {
	width: 95%;
}

.inner-sidebar table.cmb_metabox .cmb_media_status .img_status img, #side-sortables table.cmb_metabox .cmb_media_status .img_status img, .inner-sidebar table.cmb_metabox .cmb_media_status .embed_status img, #side-sortables table.cmb_metabox .cmb_media_status .embed_status img {
	width: 90%;
}

.postbox table.cmb_metabox .cmb-spinner {
	float: left;
}

/**
 * Color picker
 */
table.cmb_metabox .wp-color-result, table.cmb_metabox .wp-picker-input-wrap {
	vertical-align: middle;
}

table.cmb_metabox .wp-color-result, table.cmb_metabox .wp-picker-container {
	margin: 0 10px 0 0;
}


/**
 * Timepicker
 */
div.time-picker {
	position: absolute;
	height: 191px;
	width:6em;
	/* needed for IE */overflow: auto;
	background: #fff;
	border: 1px solid #aaa;
	z-index: 99;
	margin: 0
}

div.time-picker-12hours {
	width:8em; /* needed for IE */
}

div.time-picker ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.time-picker li {
	cursor: pointer;
	height: 10px;
	font: 14px/1 Helvetica, Arial, sans-serif;
	padding: 4px 3px;
}

div.time-picker li.selected {
	background: #0063CE;
	color: #fff;
}

/**
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
 .cmb_element .ui-helper-hidden { display: none; }
 .cmb_element .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
 .cmb_element .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
 .cmb_element .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 .cmb_element .ui-helper-clearfix { display: inline-block; }
 * html .ui-helper-clearfix { height:1%; }
 .cmb_element .ui-helper-clearfix { display:block; }
 .cmb_element .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
 .cmb_element .ui-state-disabled { cursor: default !important; }
 .cmb_element .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
 .cmb_element .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
 .cmb_element .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
 .cmb_element .ui-widget .ui-widget { font-size: 1em; }
 .cmb_element .ui-widget input, .cmb_element .ui-widget select, .cmb_element .ui-widget textarea, .cmb_element .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
 .cmb_element .ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
 .cmb_element .ui-widget-content a { color: #222222; }
 .cmb_element .ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
 .cmb_element .ui-widget-header a { color: #222222; }
 .cmb_element .ui-state-default, .cmb_element .ui-widget-content .ui-state-default, .cmb_element .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
 .cmb_element .ui-state-default a, .cmb_element .ui-state-default a:link, .cmb_element .ui-state-default a:visited { color: #555555; text-decoration: none; }
 .cmb_element .ui-state-hover, .cmb_element .ui-widget-content .ui-state-hover, .cmb_element .ui-widget-header .ui-state-hover, .cmb_element .ui-state-focus, .cmb_element .ui-widget-content .ui-state-focus, .cmb_element .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
 .cmb_element .ui-state-hover a, .cmb_element .ui-state-hover a:hover { color: #212121; text-decoration: none; }
 .cmb_element .ui-state-active, .cmb_element .ui-widget-content .ui-state-active, .cmb_element .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
 .cmb_element .ui-state-active a, .cmb_element .ui-state-active a:link, .cmb_element .ui-state-active a:visited { color: #212121; text-decoration: none; }
 .cmb_element .ui-widget :active { outline: none; }
 .cmb_element .ui-state-highlight, .cmb_element .ui-widget-content .ui-state-highlight, .cmb_element .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1; background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
 .cmb_element .ui-state-highlight a, .cmb_element .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
 .cmb_element .ui-state-error, .cmb_element .ui-widget-content .ui-state-error, .cmb_element .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
 .cmb_element .ui-state-error a, .cmb_element .ui-widget-content .ui-state-error a, .cmb_element .ui-widget-header .ui-state-error a { color: #cd0a0a; }
 .cmb_element .ui-state-error-text, .cmb_element .ui-widget-content .ui-state-error-text, .cmb_element .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
 .cmb_element .ui-priority-primary, .cmb_element .ui-widget-content .ui-priority-primary, .cmb_element 