/*
Theme Name: aserica
Theme URI: http://wpdev4im.com/
Author: wpdev4im.com
Author URI: http://wpdev4im.com/
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: aserica
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 aserica is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

/* ==================  Custom ==================*/



.free-space-20{
	margin-top: 10px;
	margin-bottom: 10px;
}

body, button, input, select, textarea { }

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #dddd;
	line-height: 1em;
	margin-bottom: 20px;
}
h1 { font-size: 2.80em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.6em; }
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.2em;
}
/*
*======
* Panels * |
*======
*/

.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
    border-bottom: 0 none;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel > .table {
    margin-bottom: 0;
}
.panel > .panel-body + .table {
    border-top: 1px solid #DDDDDD;
}
.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 15px;
}
.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-title > a {
    color: inherit;
}
.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}
.panel-group .panel {
    border-radius: 1px;
    margin-bottom: 0;
    overflow: hidden;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0 none;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #DDDDDD;
}
.panel-group .panel-footer {
    border-top: 0 none;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #DDDDDD;
}
.panel-default {
    border-color: #DDDDDD;
}
.panel-default > .panel-heading {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    color: #333333;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DDDDDD;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DDDDDD;
}
.panel-primary {
    border-color: #2980B9;
}
.panel-primary > .panel-heading {
    background-color: #2980B9;
    border-color: #2980B9;
    color: #FFFFFF;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #2980B9;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #2980B9;
}
.panel-success {
    border-color: #D6E9C6;
}
.panel-success > .panel-heading {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #D6E9C6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #D6E9C6;
}
.panel-warning {
    border-color: #FBEED5;
}
.panel-warning > .panel-heading {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FBEED5;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FBEED5;
}
.panel-danger {
    border-color: #EED3D7;
}
.panel-danger > .panel-heading {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #EED3D7;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #EED3D7;
}
.panel-info {
    border-color: #BCE8F1;
}
.panel-info > .panel-heading {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #BCE8F1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #BCE8F1;
}

/* = Custom Plugins
------------------------------------------------*/


.navbar-nav li { padding: 0; }
.social-network { margin: 0; }
.social-network li {
	padding: 0;
	margin: 0;
}
.social-network li a {
	color: #999999;
	display: block;
	font-size: 18px;
	line-height: 50px;
	padding: 0 5px;
	text-transform: uppercase;
}

.social-network li:hover a {
    color: #F4726D;
    text-decoration: none;
}

/* Plugin WP Pagenavi */
.wp-pagenavi { }
.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #BFBFBF;
	margin: 2px;
	padding: 0 8px!important;
	text-decoration: none;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: #333; }
.wp-pagenavi .pages { border: none; }
.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink { border: none; }


/* Text elements */
p { }
ul, ol {
	margin-left: 0;
	padding-left: 2em;
}
ul { list-style: inherit outside none; }
ol { list-style: decimal; }
ul li, ol li { padding: 2px 0; }
ul ul, ol ol, ul ol, ol ul { }
dt { font-weight: bold; }
dd { margin: 0 1.5em 1.2em; }
b, strong { font-weight: bold; }
dfn, cite, em, i { font-style: italic; }
blockquote { margin: 0 1.2em; }
address { margin: 0 0 1.2em; }
pre { }
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	white-space: pre-wrap;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { bottom: 1ex; }
sub { top: .5ex; }
small { font-size: 75%; }
big { font-size: 125%; }
figure { margin: 0; }
table {
	margin: 0 0 1.2em;
	width: 100%;
}
th { font-weight: bold; }

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.2em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.2em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* =Main Layout
----------------------------------------------- */
.admin-bar .navbar-fixed-top { top: 28px; }
/*.main { margin-top: 50px; }*/
.home .main { margin-top: 0; }

/* =Menu
----------------------------------------------- */


/* =Theme Option
----------------------------------------------- */


/* =Content
----------------------------------------------- */
.hentry {
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 0.5em;
}
.hentry .title { margin-bottom: 0; }
.hentry .title a { }
.hentry .meta { margin-bottom: 1em; }
.hentry .meta .posted-on { }
.hentry .meta .post-date { }
.hentry .meta .post-date .entry-date { }
.hentry .meta .byline { }
.hentry .meta .categories { }
.hentry .meta .categories a { }
.hentry .meta .sep { }
.hentry .meta .tags-links { }
.hentry .meta .tags-links a { }
.hentry .entry { }
.hentry .entry .readmore { display: block; }
.hentry .wp-post-image {
	float: left;
	margin-right: 20px;
}
.hentry.has-thumbnail .entry { min-height: 170px; }
.clear { clear: both; }

/* =Asides
----------------------------------------------- */
.sidebar .widget_search { margin-top: 1.5em; }

/* =Media
----------------------------------------------- */

img[class*="align"], img[class*="wp-image-"] {
	height: auto; 
	display: block;
}
img.size-full {
	max-width: 100%;
	width: auto; 
}
.entry-content img.wp-smiley, .comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.2em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text { text-align: center; }
.wp-caption .wp-caption-text { margin: 0.8075em 0; }
.gallery { margin-bottom: 1.2em; }
.gallery-caption { }

/* Make sure embeds and iframes fit their containers */
embed, iframe, object { max-width: 100%; }

/* =Navigation
----------------------------------------------- */


/* =Comments
----------------------------------------------- */
.comment-content a { word-wrap: break-word; }
.bypostauthor { }
#comments { margin: 0 0 1.2em; }
#comments h2 {
	background: none repeat scroll 0 0 #F6F6F6;
	margin-bottom: 20px;
	padding: 10px;
}
.commentlist {
	padding: 0;
	margin: 0;
	list-style: none;
}
.commentlist li.comment {
	padding: 0;
	min-height: 70px;
}
.commentlist li.comment .comment-content {
	padding-bottom: 0px;
	padding-left: 54px;
}
.commentlist li.comment .comment-author { }
.commentlist li.comment .comment-author img {
	float: left;
	margin-right: 10px;
}
.commentlist li.comment .comment-meta {
	float: right;
	font-size: 11px;
	font-style: oblique;
	margin-top: -30px;
}
.commentlist li.comment .reply {
	background: none repeat scroll 0 0 #CCCCCC;
	color: #FFFFFF;
	font-size: small;
	margin-top: 0;
	padding: 5px;
	position: absolute;
	top: 60px;
}
.commentlist li.comment .reply a {
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 10px;
}
.commentlist li.comment .footer { }
.commentlist li.comment .children {
	list-style: none outside none;
	margin: 5px 0 5px 54px;
}
.commentlist li.comment article.comment {
	background: #f6f6f6;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
}
.commentlist li.comment article.comment .comment-content p { margin: 0; }
#respond { }
#respond #reply-title { padding: 20px 0; }
#commentform {
	background: none repeat scroll 0 0 #F6F6F6;
	margin-bottom: 30px;
	padding: 30px;
}
#commentform p { margin-bottom: 10px; }
#commentform .comment-notes { }
#commentform label {
	width: 100%;
	display: block;
}
#commentform .comment-form-author { }
#commentform .comment-form-email { }
#commentform .comment-form-url { }
#commentform .comment-form-comment { }
#commentform .form-allowed-tags { }
#commentform textarea {
	height: 100px;
	line-height: 16px;
	overflow: auto;
	padding: 11px 7px 7px;
	vertical-align: top;
	width: 90%
}
#commentform .form-submit { }
#commentform .form-submit input[type="submit"] {
	background-color: #428BCA;
	border-color: #357EBD;
	color: #FFFFFF;
}
.nocomments { display: none; }


/* =Widgets
----------------------------------------------- */
.widget-title {
	border-bottom: 1px solid #EDEDED;
	color: #636363;
	font-size: 18px;
	line-height: 2em;
	margin-bottom: 10px;
}
.widget { margin: 0 0 1.2em; }
.widget ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* Make sure select elements fit in widgets */
.widget select { max-width: 100%; }
/* Search widget */
#searchform .field {
	width: 270px;
	float: left;
}
#searchsubmit {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	margin-left: 5px;
	padding: 8px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
#searchform .field 

/* = Custom Post type
------------------------------------------------*/
#_sCarousel { }
#_sCarousel .container { padding-top: 70px; }


/* = Page Template
------------------------------------------------*/
.page-template-pagecontact-us-php { }
.page-template-pagecontact-us-php #gMap {
	height: 300px;
	margin-bottom: 20px;
	margin-top: 20px;
}
/* = Custom Plugins
------------------------------------------------*/


.navbar-nav li { padding: 0; }
.social-network { margin: 0; }
.social-network li {
	padding: 0;
	margin: 0;
}
.social-network li a {
	color: #999999;
	display: block;
	font-size: 18px;
	line-height: 50px;
	padding: 0 5px;
	text-transform: uppercase;
}
.social-network li:hover a {
	color: #ffffff;
	text-decoration: none;
}

/* Plugin WP Pagenavi */
.wp-pagenavi { }
.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #BFBFBF;
	margin: 2px;
	padding: 0 8px!important;
	text-decoration: none;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: #333; }
.wp-pagenavi .pages { border: none; }
.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink { border: none; }

/* Custom Bootstrap
-------------------------------------------------- */

.jumbotron {
	padding-bottom: 48px;
	padding-top: 96px;