@import url(http://fonts.googleapis.com/css?family=Alegreya);

@font-face {
	font-family: 'DidotItalic';
	src: url('didot-italic.eot');
	src: url('didot-italic.eot') format('embedded-opentype'),
	url('didot-italic.woff') format('woff'),
	url('didot-italic.ttf') format('truetype'),
	url('didot-italic.svg#DidotItalic') format('svg');
}

@font-face {
	font-family: 'BigCaslon';
	src: url('BigCaslon.eot');
	src: local('☺'), url('BigCaslon.woff') format('woff'), url('BigCaslon.ttf') format('truetype'), url('BigCaslon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DESDEMON';
	src: url('DESDEMON.eot');
	src: local('☺'), url('DESDEMON.woff') format('woff'), url('DESDEMON.ttf') format('truetype'), url('DESDEMON.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
	margin-top: 30px;
	background-color: #FFFFFF;
	color: #333333;
	font-family: 'DidotItalic';
	font-size: 14px;
	line-height: 1.1em;
}

.main {
	margin-top: 30px;
}


a, a:visited {
	color: inherit;
	text-decoration: none;
}

.navbar.transparent.navbar-inverse .navbar-inner {
	background: rgba(0,0,0,0.4);
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 0.5em;
	margin-bottom: 20px;
}

menu{
	margin-bottom: -3px;
}

menu > li {
	display: inline;
	font-family: 'Sorts Mill Goudy',serif;
	font-size: 16px;
	color: #1F1F21;
}

menu > li:after {
	content: ' /// ';
	padding-left: 1px;
}

menu > li:last-child:after {
	content: '';
}

/* Links */
menu  a, a:visited,a:hover, a:focus, a:active {
	color: inherit;
	text-decoration: none;
}


button, input, select, textarea { }
button, input { }
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-moz-user-select: none;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	font-size: 1/px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 0px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { }
button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { }
input[type="checkbox"], input[type="radio"] { }
input[type="search"] { }
input[type="search"]::-webkit-search-decoration {}
button::-moz-focus-inner, input::-moz-focus-inner {}

input[type=text], input[type=email], input[type=password], textarea {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: inherit;
	border-image: none;
	border-radius: 20px;
	border-style: solid;
	border-width: 1.5px;
	display: block;
	height: 15px;
	padding: 0 5px;
	font-size: 14px;
	vertical-align: middle;

}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus { color: inherit; }
input[type=text], input[type=email], input[type=password] { color: inherit; }
textarea { }


/*::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { 
   text-align:center;  
}

::-moz-placeholder { 
   text-align:center;  
}

:-ms-input-placeholder {  
   text-align:center; 
   }*/


   .carousel-control {
   	color: #000000;
   	font-size: 27px;
   	height: 40px;
   	left: -50px;
   	line-height: 30px;
   	margin-top: -20px;
   	position: absolute;
   	text-align: center;
   	top: 50%;
   	width: 40px;
   }

   .carousel-control.left {
   	background-image: none;
   	background-repeat: no-repeat;
   }

   .carousel-control.right {
   	background-image: none;
   	background-repeat: no-repeat;
   	left: 101%;
   	right: 0;
   }

   .page-title{
   	font-size: 40px;
   	line-height: 40px;
   	font-family: 'BigCaslon';
   	text-transform: uppercase;
   }

   .page-sub-titile{
   	font-size: 30px;
   	line-height: 30px;
   	font-family: 'DESDEMON';
   	text-transform: uppercase;
   }

   .big-bold {
   	font-family: 'DidotItalic',serif;
   	font-size: 45px;
   	letter-spacing: -2px;
   	line-height: 45px;
   	text-transform: uppercase;
   }

   .big-bold-yellow {
   	color: #C4B481;
   	font-family: 'DidotItalic',serif;
   	font-size: 45px;
   	letter-spacing: -7px;
   	line-height: 45px;
   	text-decoration: none;
   }

   .big-bold-yellow a, a:visited,a:hover, a:focus, a:active {
   	color: inherit;
   	text-decoration: none;
   }


   .day-and-places {
   	color: #C4B481;
   	font-family: 'DidotItalic',serif;
   	font-size: 38px;
   	letter-spacing: -7px;
   	line-height: 38px;
   	text-decoration: none;
   }

   .day-and-places a, a:visited,a:hover, a:focus, a:active {
   	color: inherit;
   	text-decoration: none;
   }

   .content-front-page {
   	font-family: 'DidotItalic',serif;
   	font-size: inherit;
   	/* line-height: 0.429;*/
   }

/*.breadcrumb {
	background-color: #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Sorts Mill Goudy',serif;
	list-style: none outside none;
	text-align: center;
	margin: 0 0 0 0px; 
	padding: 0px 0px;
	}*/




	.breadcrumb{
		display: inline;
		font-family: 'Sorts Mill Goudy',serif;
		background-color: #FFFFFF;
		line-height: 14px;
	}

	.breadcrumb   a, a:visited,a:hover, a:focus, a:active {
		color: inherit;
		text-decoration: none;
	}


	.front-page-under{
		font-family: 'Sorts Mill Goudy',serif;
	}

	.about-share {
		background-color: #000000;
		font-family: 'Sorts Mill Goudy',serif;
		color: #FFFFFF;
		font-size: 15px;
		list-style: none outside none;
		text-align: center;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.botton-up{
		margin-bottom: 5px;
	}

	.news{
		font-family: 'Sorts Mill Goudy',serif;
	}

	.imargin-top2{
		margin-top: 2px;
	}

	.space0{
		height: 0px;
	}

	.space2{
		height: 0px;
	}
	.space5{
		height: 5px;
	}

	.space10{
		height: 6px;
	}

	.space20{
		height: 20px;
	}

	.space40{
		height: 40px;
	}

	.top-margin{
		margin-top: 30px;
	}

	.botton-line{
		vertical-align: bottom;
	}


	.black-line{
		padding-left: 5px;
		padding-right: 5px;
		height: 1px;
		background: #1F1F21;
		margin-bottom: 5px;
	}

	.gold-line{
		margin-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
		height: 1px;
		background: #ceb982;
		
	}

	.line-normal-blod {
		background: none repeat scroll 0 0 #333333;
		color: #333333;
		height: 6px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.subscribe-header {
		background: #000;
		color : #FFFFFF;
		font-family: 'Sorts Mill Goudy',serif;
		/*padding: 1px 4px;*/
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.subscribe-header a, a:visited,a:hover, a:focus, a:active {
		color: inherit;
		text-decoration: none;
	}

	.subscribe-footer {
		background: #aa9250;
		color : #1F1F21;
		font-family: 'Sorts Mill Goudy',serif;
		/*padding: 1px 4px;*/
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.subscribe-footer a, a:visited,a:hover, a:focus, a:active {
		color: inherit;
		text-decoration: none;
	}

	.text-long-footer{
		color: #ceb982;
		line-height: 15px;
	}

	.text-credit{
		font-family: 'Alegreya',serif;
	}
	.text-pages{
		font-family: 'BigCaslon',serif;
	}

	.text-cover-page{
		font-family: 'DESDEMON',serif;
		
	}

	.text-below-page-title{
		font-family: 'DESDEMON',serif;
	}

	.text-fashion-credit{
		font-family: 'DidotItalic',serif;
	}


	.top-featuring{
		font-size: 13px;
		line-height: 13px;
	}

	.fashion-under-slide-title{
		font-family: 'Sorts Mill Goudy',serif;
	}

	.col-centered{
		margin:0 auto;
		float:none;
	}

/*.footer-menu{
	display: inline;
	font-size: 18px;
	font-family: 'Sorts Mill Goudy',serif;
	background: #1F1F21;
	color: #ceb982;
}

*/
.footer-menu > li {
	display: inline;
	font-family: 'Sorts Mill Goudy',serif;;
	background: #000000;
	color: #ceb982;
}

.footer-menu  > li:after {
	content: ' /// ';
}

.footer-menu > li:last-child:after {
	content: '';
}

/* Links */
.footer-menu   a, a:visited,a:hover, a:focus, a:active {
	color: inherit;
	text-decoration: none;
}

/*.footer-social{
	background-color: #000000;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Sorts Mill Goudy',serif;
	list-style: none outside none;
	text-align: center;
	margin: 0 0 0 0px; 
	padding: 0px 0px;
	color: 	#C4B481;
	}*/

	.header-social{
		display: inline;
		font-family: 'Sorts Mill Goudy',serif;
		background: #FFFFFF;
		color: #000;
		font-size: 13px;
		line-height: 18px;
	}

	.header-social   a, a:visited,a:hover, a:focus, a:active {
		color: inherit;
		text-decoration: none;
	}

	.footer-social{
		display: inline;
		font-family: 'Sorts Mill Goudy',serif;
		background: #000000;
		color: #ceb982;
		line-height: 14px;
	}

	.footer-social   a, a:visited,a:hover, a:focus, a:active {
		color: inherit;
		text-decoration: none;
	}

	.input-black{
		background-color: #000000;
		color: #ceb982;
		border-color: #ceb982;
	}

	.input-black::-webkit-input-placeholder { color:#ceb982; }

	footer  {
		padding-top: 20px;
		padding-bottom: 20px;
		background: #000000;
		color: #ceb982;
	}

	.front-body{
		margin-top: 0px;
	}

	.front-page-logo {

		
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		position: absolute;
		top: 2%;
		height: 207px;
		width: 730px;
		left: 50%;
		margin-left: -365px;
		background-image: url('https://farm4.staticflickr.com/3764/13387439953_a5b87b5754_o.png');
		
	}

	.cover-height{
		max-height: 800px;
	}


	#destination{
		display: none;
		height: 40px;
		position: absolute;
		top: 1000px;
		z-index: 99999;
	}

	/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */

	.FlexEmbed {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.FlexEmbed:before {
		content: "";
		display: block;
		width: 100%;
	}

	.FlexEmbed--3by1:before {
		padding-bottom: 33.33333%;
	}

	.FlexEmbed--2by1:before {
		padding-bottom: 50%;
	}

	.FlexEmbed--16by9:before {
		padding-bottom: 56.25%;
	}

	.FlexEmbed--4by3:before {
		padding-bottom: 75%;
	}

	.CoverImage {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0 auto;
		max-height: 800px;
		max-width: 2000px;
	}

	.carousel-inner > .item > img, 
	.carousel-inner > .item > a > img{
		/*width: 100%; *//* use this, or not */
		margin: auto;
	}


	.page-the-title{
		font-family: 'Sorts Mill Goudy',serif;
		background: #FFFFFF;
		color: #000;
		font-size: 13px;
		line-height: 18px;
		font-weight: bold;
	}